build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
*.log

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

## Datagen .cache folder
forge/src/main/generated/resources/.cache
fabric/src/main/generated/resources/.cache
common/src/main/generated/resources/.cache